/* CSS Document */
.tooltip
{
  position: relative;
  cursor: help;
  display: inline-block;
  text-decoration: none;
  color: #222;
  outline: none;
}
 .d{
	  width: 230px;
	  margin-top:200px;
	  margin-left:200px;
 
 }
.tooltip span
{
  visibility: hidden;
  position: absolute;
  bottom: 30px;
  left: 50%;
  z-index: 999;
  width: auto;
  margin-left: -127px;
  padding: 10px;
  border: 2px solid #ccc;
  opacity:0.9;
  background-color: #ddd;
  background-image: -webkit-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
  background-image: -moz-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
  background-image: -ms-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
  background-image: -o-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
  background-image: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.5) inset;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.5) inset;
  box-shadow: 0 1px 2px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.5) inset;
  text-shadow: 0 1px 0 rgba(255,255,255,.4);
}
 
.tooltip:hover
{
  border: 0; /* IE6 fix */
}
 
.tooltip:hover span
{
  visibility: visible;
}
 
.tooltip span:before,
.tooltip span:after
{
  content: "";
  position: absolute;
  z-index: 1000;
  bottom: -7px;
  left: 50%;
  margin-left: -8px;
  border-top: 8px solid #ddd;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 0
}
 
.tooltip span:before
{
  border-top-color: #ccc;
  bottom: -8px;
}
/*start tooltip for jobs*/
.tooltip1
{
  position: relative;
  cursor: help;
  display: inline-block;
  text-decoration: none;
  color: #222;
  outline: none;
}
 .d{
	  width: 230px;
	  margin-top:200px;
	  margin-left:200px;
 
 }
.tooltip1 span
{
  visibility: hidden;
  position: absolute;
  bottom: 30px;
  z-index: 999;
  width: 161px;
  height:53px;
  margin-left:0px;
  top:108px;
  padding: 10px;
  opacity:0.7;
  background-color: #ddd;
  background-image: -webkit-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
  background-image: -moz-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
  background-image: -ms-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
  background-image: -o-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
  background-image: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
  -moz-border-bottom-left-radius: 40px;
  border-bottom-left-radius: 40px;
  -moz-border-bottom-right-radius: 40px;
  border-bottom-right-radius: 40px;
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.5) inset;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.5) inset;
  box-shadow: 0 1px 2px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.5) inset;
  text-shadow: 0 1px 0 rgba(255,255,255,.4);
}
 
.tooltip1:hover
{
  border: 0; /* IE6 fix */
}
 
.tooltip1:hover span
{
  visibility: visible;
}
 .tooltip1 span .content
{
	margin:0pa auto;
	widows:150px;
	height:auto;
	text-align:center;
	font-family:BYekan,tahoma;
    font-size:12px;
	color:#006;
	direction:rtl;
	
}

 
